POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_PORT=5432

TRIVIA_DB_NAME=trivia
TRIVIA_DB_USER=myuser
TRIVIA_DB_PASSWORD=mypassword
TRIVIA_DB_HOST=localhost
TRIVIA_DB_PORT=5432
TRIVIA_TEST_DB_NAME=trivia_test